<connectionStrings>
	<!-- Run the \lib\Test-databases\roadkill-sqlserver.sql script to setup the database	-->
	<add name="Roadkill" connectionString="Server=tcp:r1mmpiiern.database.windows.net,1433;Database=roadkillencore;User ID=RyanGroom@r1mmpiiern;Password=M0nkeyBiz;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>
